@model PaginationViewModel

<!-- start pagination area -->
<div class="paginatoin-area text-center">
    <ul class="pagination-box">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a class="previous" 
                    asp-controller="@Model.Controller" 
                    asp-action="@Model.Action" 
                    asp-all-route-data="@Model.RouteParams" 
                    asp-route-page="@(Model.CurrentPage - 1)">
                    <i class="lnr lnr-chevron-left"></i>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        { 
            <li class="@(Model.CurrentPage == i ? "active" : "")">
                <a  
                   asp-controller="@Model.Controller" 
                   asp-action="@Model.Action" 
                   asp-all-route-data="@Model.RouteParams" 
                   asp-route-page="@i">
                    @i
                </a>
            </li> 
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a class="next"  
                   asp-controller="@Model.Controller" 
                   asp-action="@Model.Action" 
                   asp-all-route-data="@Model.RouteParams" 
                   asp-route-page="@(Model.CurrentPage + 1)">
                    <i class="lnr lnr-chevron-right"></i>
                </a>
            </li>
        }
    </ul>
</div>
<!-- end pagination area -->