@model Post
@{
    ViewData["Title"] = "Details";
}

<!-- blog main wrapper start -->
<div class="blog-main-wrapper section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2">
                <div class="blog-sidebar-wrapper">
                    <div class="blog-sidebar">
                        <h3 class="title">search</h3>
                        <div class="sidebar-serch-form">
                            <form action="#">
                                <input type="text" class="search-field" placeholder="search here">
                                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div> <!-- single sidebar end -->
                    <div class="blog-sidebar">
                        <h3 class="title">categories</h3>
                        <ul class="blog-archive blog-category">
                            <li><a href="#">Barber (10)</a></li>
                            <li><a href="#">fashion (08)</a></li>
                            <li><a href="#">handbag (07)</a></li>
                            <li><a href="#">Jewelry (14)</a></li>
                            <li><a href="#">food (10)</a></li>
                        </ul>
                    </div> <!-- single sidebar end -->
                    <div class="blog-sidebar">
                        <h3 class="title">Blog Archives</h3>
                        <ul class="blog-archive">
                            <li><a href="#">January (10)</a></li>
                            <li><a href="#">February (08)</a></li>
                            <li><a href="#">March (07)</a></li>
                            <li><a href="#">April (14)</a></li>
                            <li><a href="#">May (10)</a></li>
                        </ul>
                    </div> <!-- single sidebar end -->
                    <div class="blog-sidebar">
                        <h3 class="title">recent post</h3>
                        <div class="recent-post">
                            <div class="recent-post-item">
                                <figure class="product-thumb">
                                    <a href="blog-details.html">
                                        <img src="assets/img/blog/blog-img1.jpg" alt="blog image">
                                    </a>
                                </figure>
                                <div class="recent-post-description">
                                    <div class="product-name">
                                        <h4><a href="blog-details.html">Auctor gravida enim</a></h4>
                                        <p>march 10 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post-item">
                                <figure class="product-thumb">
                                    <a href="blog-details.html">
                                        <img src="assets/img/blog/blog-img2.jpg" alt="blog image">
                                    </a>
                                </figure>
                                <div class="recent-post-description">
                                    <div class="product-name">
                                        <h4><a href="blog-details.html">gravida auctor dnim</a></h4>
                                        <p>march 18 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post-item">
                                <figure class="product-thumb">
                                    <a href="blog-details.html">
                                        <img src="assets/img/blog/blog-img3.jpg" alt="blog image">
                                    </a>
                                </figure>
                                <div class="recent-post-description">
                                    <div class="product-name">
                                        <h4><a href="blog-details.html">enim auctor gravida</a></h4>
                                        <p>march 14 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- single sidebar end -->
                    <div class="blog-sidebar">
                        <h3 class="title">Tags</h3>
                        <ul class="blog-tags">
                            <li><a href="#">camera</a></li>
                            <li><a href="#">computer</a></li>
                            <li><a href="#">bag</a></li>
                            <li><a href="#">watch</a></li>
                            <li><a href="#">smartphone</a></li>
                            <li><a href="#">shoes</a></li>
                        </ul>
                    </div> <!-- single sidebar end -->
                </div>
            </div>
            <div class="col-lg-9 order-1">
                <div class="blog-item-wrapper">
                    <!-- blog post item start -->
                    <div class="blog-post-item blog-details-post">
                        <figure class="blog-thumb">
                            <div class="blog-carousel-2 slick-row-15 slick-arrow-style slick-dot-style">
                                <div class="blog-single-slide">
                                    <a href="blog-details.html">
                                        <img src="@Model.ImageUrl" alt="blog image">
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <div class="blog-content">
                            <h3 class="blog-title blog-title-large">
                                @Model.Title
                            </h3>
                            <div class="blog-meta">
                                <p>@Model.Date</p>
                            </div>
                            <div class="entry-summary">

                                @Html.Raw(Model.Content)

                                <div class="tag-line">
                                    <h5>category :</h5>
                                    <a href="#">@Model.Category.Name</a>
                                </div>
                                <div class="tag-line">
                                    <h5>tag :</h5>
                                    @foreach (var item in Model.PostTags)
                                    {
                                        <a href="#">@item.Tag.Name</a>
                                    }
                                </div>
                                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn__bg">Edit</a>
                                <div class="blog-share-link">
                                    <h5>share :</h5>
                                    <div class="blog-social-icon">
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog post item end -->
                    <!-- comment area start -->
                    <div class="comment-section section-space">
                        <h3>03 comment</h3>
                        <ul>
                            <li>
                                <div class="author-avatar">
                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                </div>
                                <div class="comment-body">
                                    <span class="reply-btn"><a href="#">reply</a></span>
                                    <h5 class="comment-author">admin</h5>
                                    <div class="comment-post-date">
                                        20 nov, 2019 at 9:30pm
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                        adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?
                                    </p>
                                </div>
                            </li>
                            <li class="comment-children">
                                <div class="author-avatar">
                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                </div>
                                <div class="comment-body">
                                    <span class="reply-btn"><a href="#">reply</a></span>
                                    <h5 class="comment-author">admin</h5>
                                    <div class="comment-post-date">
                                        20 nov, 2019 at 9:30pm
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                        adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="author-avatar">
                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                </div>
                                <div class="comment-body">
                                    <span class="reply-btn"><a href="#">reply</a></span>
                                    <h5 class="comment-author">admin</h5>
                                    <div class="comment-post-date">
                                        20 nov, 2019 at 9:30pm
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                        adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- comment area end -->
                    <!-- start blog comment box -->
                    <div class="blog-comment-wrapper">
                        <h3>leave a reply</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <form action="#">
                            <div class="comment-post-box">
                                <div class="row">
                                    <div class="col-12">
                                        <label>comment</label>
                                        <textarea name="commnet" placeholder="Write a comment"></textarea>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Name</label>
                                        <input type="text" class="coment-field" placeholder="Name">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Email</label>
                                        <input type="text" class="coment-field" placeholder="Email">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label>Website</label>
                                        <input type="text" class="coment-field" placeholder="Website">
                                    </div>
                                    <div class="col-12">
                                        <div class="coment-btn">
                                            <input class="btn btn__bg" type="submit" name="submit" value="Post Comment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- start blog comment box -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog main wrapper end -->
