@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

@if (Model.Title != null)
{
    <h1>Search results by title: @Model.Title</h1>
    <p>Total results: @Model.TotalResults</p>

    <div id="movieResults" class="row">
        <partial name="_MovieListPartial" model="@Model.Movies"/>
    </div>

    <button id="buttonNext" class="btn btn-primary btn-lg mt-4">Next</button>

    <nav hidden aria-label="Page navigation example" class="mt-4">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="Search" asp-route-title="@Model.Title" asp-route-page="@(Model.CurrentPage - 1)">Previous</a></li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="d-none d-sm-block page-item @(Model.CurrentPage == i ? "active" : "")"><a class="page-link" asp-controller="Home" asp-action="Search" asp-route-title="@Model.Title" asp-route-page="@i">@i</a></li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="Search" asp-route-title="@Model.Title" asp-route-page="@(Model.CurrentPage + 1)">Next</a></li>
            }
        </ul>
    </nav>
}
else
{
    <h1>No results!</h1>
}

<partial name="_ModalWindowPartial"/>



@section Scripts
{
    <script>
        initPagination(@Model.CurrentPage, @Model.TotalPages, '@Url.ActionLink("SearchResult", "Home", new { title = Model.Title } )');
    </script>
}