@{
    ViewBag.Title = "Home page";
}

<h1>Index pages</h1>
@*
    <p>@ViewBag.Data</p>
    <p>Username: @ViewData["Name"]</p>
*@

<p>@ViewData["Data"]</p>
<p>Username: @ViewBag.Name</p>
<p>Username length: @ViewBag.Name.Length</p>